################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/repos/Parashumti_Small Programs Showcase/Parashumti_Small Programs Showcase.sln
/source/repos/Parashumti_Small Programs Showcase/Parashumti_Small Programs Showcase.sln
