@page
@model IndexModel
@{
    ViewData["Title"] = "Shumti&Co";
}

<div class="text-center">
    <h1 class="display-4 text-white">Welcome to Shumti&Co</h1>
    <h1 class="display-6 text-white" style="margin-bottom: 26px;">
        INDEPENDENT OPTICIANS IN LITTLE VENICE, WEST LONDON
        SPECIALISTS IN MEN’S AND WOMEN’S DESIGNER GLASSES FRAMES
    </h1>

    
    <h1 class="text-white" style="font-size: 18px; margin-bottom: 26px"> Based in Little Venice in West London, we’re a family-run independent optician providing high standards of eye care and bespoke designer glasses and frames for men and women. Our team of qualified and experienced opticians use the latest technology to provide the most thorough eye examinations. Following your eye exam, we’ll help you choose your glasses from the latest luxury eyewear designs and find a style that matches your image. Our in-house glazing means we’re able to offer same-day glasses for most designer glasses frames and prescriptions so you can leave our boutique wearing your new glasses.</h1>
    <h1 class="text-white" style="font-size: 18px; margin-bottom: 26px">As an independent optician, we take great pride in offering our customers an unrivalled service. We stock luxury eyewear from top men’s and women’s designer glasses brands including Eyevan, Campbell Marson, Lindberg, Andy Wolf, and many more. From modern and contemporary to traditional and classic, we have a huge choice of luxury glasses frames for you to try on in our boutique opticians in Little Venice.</h1>
    <h1 class="text-white" style="font-size: 18px; margin-bottom: 26px">Established in 2022, our goal is to help our customers gain new confidence by having glasses that make them look and feel great. Whether you have broken your existing glasses and need a same-day pair of replacement glasses or need a helping hand picking a pair of designer glasses frames that suit you, we’ll be happy to help.</h1>
    <h1 class="text-white" style="font-size: 18px;">Ready to choose a new pair of glasses? Book an appointment at Shumti & Co independent opticians in West London today by giving us a ring on 020 7286 3763 or visit our contact us page for more ways to get in touch.</h1>
    
</div>
